.banner_img{
    width: 100vw;
    height: 350px;
}

.carasousel{
    margin-top: 0;
}


@media (max-width:768px){
    .banner_img{
        object-fit: cover;
        height: 180px;
    }
}